/* reset */
* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
 
/* site */
html, body { background-color: #008AB8; }
a {
    text-decoration: none;
    font-style: inherit;
    color: darkblue;
}
a:link, a:visited {
    border:none;
    text-decoration:none;
    font-style:normal;
    color:#2B65EC;
}
a:hover {
    text-decoration: none;
    color: #a3211f;
}
 
  #pagewrap {
    margin: 0 auto;
    width: 405px;
  }
   
    h1 {
      color: white;
      margin: 0;
      text-align: center;
      font-size: 100px;
    }
      h1 .r { color: darkblue; }
     
    .body {
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      background-color: white;
      text-align: center;
      padding: 50px;
      height: 120px;
      position: relative;
    }
     
      .body .instructions {
        display: block;
        margin-bottom: 10px;
      }
      .body .back {
        right: 15px;
        top: 10px;
        position: absolute;
      }
       
      .body input[type=text] {
        display: block;
        font-size: 20px;
        margin-bottom: 5px;
        text-align: center;
        padding: 5px;
        height: 20px;
        width: 300px;
      }